<footer class="w-full bg-zinc-800 text-white py-6 mt-5">
    <div class="container mx-auto flex flex-col md:flex-row justify-between items-center px-4">
        <div class="mb-4 md:mb-0">
            <span class="font-bold text-lg">Aely Platform</span>
            <p class="text-sm">© 2025 Todos los derechos reservados.</p>
        </div>
        <div class="flex space-x-4">
            <a href="https://facebook.com" target="_blank" aria-label="Facebook">
                <lucide-angular [img]="facebookIcon" class="my-icon"></lucide-angular>
            </a>
            <a href="https://instagram.com" target="_blank" aria-label="Instagram">
                <lucide-angular [img]="instagramIcon" class="my-icon"></lucide-angular>
            </a>
            <a href="mailto:contacto@aely.com" aria-label="Email">
                <lucide-angular [img]="mailIcon" class="my-icon"></lucide-angular>
            </a>
        </div>
    </div>
</footer>