::ng-deep .mat-datepicker-content {
  background-color: white !important;
  color: black !important;
  z-index: 1000;
  border-radius: 0.5rem; /* optional */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* optional */
}
