<div class="w-full rounded-lg border border-zinc-200 m-4">
    <div class="bg-gradient-to-br from-blue-300  to-blue-900 px-4 py-6 text-white rounded-t-lg">
        <div class="flex justify-between">
            <div>
                <span class="font-bold text-2xl">
                    Lima -> Madrid
                </span>
            </div>
            <div>
                <span class="px-2 py-1 bg-green-600 rounded">Confirmado</span>
            </div>
        </div>
    </div>
    <div class="px-8 py-2">
        <div>
            <div>
            Fecha: 21 Ago 2023 10:00 -> 05:30
        </div>
        <div>
            Vuelo: LA23536
        </div>
        <div>
            Pasajeros: 2
        </div>
        </div>
        <div class="flex justify-end">
            <div class="flex gap-2">
                <a href="" class="border border-blue-500 rounded-lg py-2 px-4 hover:bg-blue-500 hover:border-zinc-100 hover:text-white">Información</a>
                <a href="" class="border border-green-500 rounded-lg py-2 px-4 hover:bg-green-500 hover:border-zinc-100 hover:text-white">Descargar Pasaje</a>
            </div>
        </div>
    </div>  
</div>