<div class="w-full mx-auto"> 
    <div class="flex items-center justify-around p-4 bg-zinc-800 text-white">
        <div>
            <svg width="200" height="60" viewBox="0 0 200 60" fill="none" xmlns="http://www.w3.org/2000/svg">
            <style>
                .text { fill: #2A5ADA; font-family: 'Segoe UI', sans-serif; font-size: 36px; font-weight: 600; }
                .wing { fill: #4F85E7; }
            </style>
            <g>
                <!-- Icono tipo ala estilizada -->
                <path class="wing" d="M10 15 C25 5, 35 5, 50 15 C35 10, 30 20, 10 15 Z" />
                <!-- Texto Aely -->
                <text x="60" y="40" class="text">Aely</text>
            </g>
            </svg>
        </div>
        <div>
            <nav class="flex space-x-8 text-md text-gray-300 font-bold">
                <a class="hover:text-gray-100" routerLink="/app/busqueda">Buscar Vuelos</a>
                <a class="hover:text-gray-100" routerLink="/app/reservas">Mis Reservas</a>
                <a class="hover:text-gray-100" routerLink="/app/vuelos">Vuelos</a>
                <a class="hover:text-gray-100" routerLink="/app/sobre-nosotros">Sobre Nosotros</a>
                <a class="hover:text-gray-100" routerLink="/app/lugares">Lugares</a>
                <a class="hover:text-gray-100" routerLink="/app/ayuda">Ayuda</a>
                <a class="hover:text-gray-100" routerLink="/app/perfil">Mi Perfil</a>
                <a class="hover:text-gray-100" routerLink="/app/auth/login">Iniciar Sesión</a>
            </nav>
        </div>
    </div>
</div>