<div class="w-full h-full border border-gray-300 rounded-lg shadow hover:shadow-xl cursor-pointer user-select-none transition-transform pb-5">
                <img [src]="destino.imagen" alt="{{ destino.nombre }}" class="w-full h-40 object-cover rounded-t-lg mb-4">
                <div class="px-2">
                    <h3 class="text-md text-center font-light">{{ destino.pais }}</h3>
                    <h2 class="text-xl text-center font-bold">{{ destino.nombre }}</h2>
                    <p class="text-center mt-5">{{ destino.descripcion }}</p>
                </div>
            </div>