<div class="mx-auto container ">
    <div class="border border-gray-300 bg-gray-200 my-5 mx-3">
        <h1 class="text-2xl">Buscar Vuelos</h1>
        <hr>
        <form>
            <div class="grid grid-cols-1 md:grid-cols-3 gap-4 p-4">
               <div class="mb-4 flex flex-col">
                    <label for="aeropuertosalida">Aeropuerto de Salida</label>
                    <select class="border border-gray-700 rounded p-2" id="aeropuertosalida">
                        <option value="">Seleccione un aeropuerto</option>
                        <option value="MAD">Madrid Barajas</option>
                        <option value="BCN">Barcelona El Prat</option>
                        <option value="MAL">Málaga</option>
                    </select>
               </div> 
               <div class="mb-4 flex flex-col">
                    <label for="aeropuertollegada">Aeropuerto de Llegada</label>
                    <select class="border border-gray-700 rounded p-2" id="aeropuertollegada">
                        <option value="">Seleccione un aeropuerto</option>
                        <option value="MAD">Madrid Barajas</option>
                        <option value="BCN">Barcelona El Prat</option>
                        <option value="MAL">Málaga</option>
                    </select>
               </div> 
               <div class="flex items-center">
                    <button type="submit" class="w-full p-2 bg-blue-600 hover:bg-blue-700 text-white cursor-pointer rounded hover:shadow">Buscar</button>
               </div>
               <div class="mb-4 flex flex-col">
                   <label for="fechaida">Fecha de Ida</label>
                   <app-data-picker id="fechaida" class=" p-2"></app-data-picker>
               </div>
               <div class="mb-4 flex flex-col">
                   <label for="fechallegada">Fecha de Llegada</label>
                   <app-data-picker id="fechallegada" class="p-2"></app-data-picker>
               </div>
            </div>        
        </form>
    </div>
    <div class="my-5">
        <h1 class="text-2xl text-center">Destinos destacados para ti</h1>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-20 p-4 items-center justify-center content-center">
            <div class="w-2/4 border border-gray-300 rounded-lg shadow hover:shadow-xl cursor-pointer user-select-none transition-transform">
                <img src="madrid.jpg" alt="Madrid Centro" class="w-full h-40 object-cover rounded-t-lg mb-4">
                <h3 class="text-md text-center font-light">España</h3>
                <h2 class="text-xl text-center font-bold">Madrid</h2>
                <p class="text-center mt-5">Descubre la capital de España, su cultura y gastronomía.</p>
            </div>
        </div>
    </div>
</div>